body, html {
    height: 100%;
    margin: 0;
}

.jumbotron {
    background-image: url('../img/conta.jpg');
    background-size: cover;
}

.logo-one{
    position: relative;
    margin-top: 190px;
    margin-left: -50px;
}

.title-slogan{
    color: white;
    text-shadow: 2px 2px #444;
    position: absolute;
    margin-top: -318px;
    margin-left: 550px
}

.title-tam{
    margin-top: 70px;
    margin-left: -110px;
    position: relative;
    z-index: 700000;
}

.title-dis{
    margin-top: -20px;
    margin-left: 90px;
    position: relative;
    z-index: 700000;
}

.img-cont{
    margin-left: 100px;
    margin-top: 10px;
}

.card-tam-dis{
    margin-top: 10px;
    margin-left: -20px;
    position: relative;
    z-index: 5000;
    width: 27rem;
}

.figura-box{
    height: 10px;
    width: 40px;
    background-color: #5da099;
}

.box-title{
    color: #5da099;
    font-weight: bold;
    font-size: 3em;
}

.box-text{
    font-size: 1.3em;
}

.green-bg{
    background-color: #5da099;
}

.green-bg-title{
    color: white;
    font-size: 3.5em;
    text-align: center;
}

.btn-green {
    color: #fff;
    background-color: #5da099;
    border-color: #5da099;
}

.btn-green:hover {
    color: #fff;
    background-color: #5da099;
    border-color: #5da099;
}

.info-title{
    color: black;
    font-size: 3em;
    text-align: center;
}

.card-contacto{
    width: 35rem;
    border: none;
}

.box-text{
    font-size: 1em;
}

.box-card{
    width: 24rem;
}

#map{
    height: 400px;
}



.bg {
    /* The image used */
    background-image: url('../img/conta.jpg');

    /* Full height */
    height: 900px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedor-principal{
    background-image: url('../img/bgpro.png');
    background-repeat: no-repeat;
    max-width: 100%;
    height: 7700px;
    background-size:100% auto;
    z-index: -5000;
}

.menu{
    font-size: 1.2em;
    position: relative;
    top: 40px;
    left: 50px;
    text-transform: uppercase;
    color: white;
    width: 400px;
}

.nav a{
    color: white !important;
    font-weight: bold;
}


.bg-03{
    position: relative;
    left: 700px;
    top: 900px;
}

.onestorage{
    position: relative;
    z-index: 700000;
    top: 3200px;
    left: 200px;
}

.titulo-slogan{
    position: relative;
    z-index: 700000;
    top: 3330px;
    left: -500px;
}

.form-contact{
    width: 500px;
    background: black;
    position: relative;
    padding: 35px;
}

.form-contact h1{
    color: white;
    padding-bottom: 20px;
}

.header-menu{
    text-transform: uppercase;
    margin-left: 280px;
    margin-top: 100px;
    font-size: 1.2em;
    color: white;
}

.header-menu a:hover{
    text-decoration: none;
}

.text-black {
    color: #000000 !important;
}

.text-white {
    color: #ffffff !important;
}

.parallax-window {
    min-height: 400px;
    opacity: 0.41;
    background-color: #000;
    z-index: -5;
    position: relative;
    height: 874px;
}

/*---------------------------------------------
EMPIEZAN LAS MEDIAS QUERIES
--------------------------------------------*/

@media (min-width: 1px){

    .jumbotron {
        height: 390px;
    }

    .title-slogan{
        font-size: 5vw;
        margin-left: 0px;
        width: 100%;
        margin-top: 50px;
        position: relative;
    }

    .logo-one{
        position: relative;
        margin-left: 0px;
        margin-top: 3%;
    }

    .img-cont{
        width: 70%;
        margin-left: 0px;
    }

    .form-contact{
        width: 95%;
    }

    .form-contact h1{
        font-size: 6vw;
    }

    .card-contacto{
        width: 95%;
        border: none;
    }

    .title-tam{
        font-size: 12vw;
        margin-top: 30px;
        margin-left: 0px;
        position: relative;
        z-index: 700000;
    }

    .title-dis{
        font-size: 12vw;
        margin-top: -20px;
        margin-left: 0px;
        position: relative;
        z-index: 700000;
    }

    .card-tam-dis{
        margin-top: 10px;
        margin-left: 0px;
        position: relative;
        z-index: 5000;
        width: 95%;
    }

    .s1{
        display: none;
    }

    .s1-responsive{
        display: flex;
    }

    .s2{
        display: none;
    }

    .s2-responsive{
        display: flex;
    }

    .s3{
        display: none;
    }

    .s3-responsive{
        display: flex;
    }

    .s4{
        display: none;
    }

    .s4-responsive{
        display: flex;
    }

    .s0{
        display: none;
    }

    .s0-responsive{
        display: flex;
    }

    .box-card{
        width: 95%;
    }

    .green-bg-title{
        color: white;
        font-size: 7vw;
        text-align: center;
    }

}


@media (min-width: 576px){

    .jumbotron {
        height: 530px;
    }

    .title-slogan{
        font-size: 5vw;
        margin-left: 0px;
        width: 100%;
        margin-top: 50px;
        position: relative;
    }

    .logo-one{
        position: relative;
        margin-left: 0px;
        margin-top: 3%;
    }

    .img-cont{
        width: 70%;
        margin-left: 0px;
    }

    .form-contact{
        width: 95%;
    }

    .form-contact h1{
        font-size: 6vw;
    }

    .card-contacto{
        width: 95%;
        border: none;
    }

    .title-tam{
        font-size: 10vw;
        margin-top: 30px;
        margin-left: 0px;
        position: relative;
        z-index: 700000;
    }

    .title-dis{
        font-size: 10vw;
        margin-top: -20px;
        margin-left: 0px;
        position: relative;
        z-index: 700000;
    }

    .card-tam-dis{
        margin-top: 10px;
        margin-left: 0px;
        position: relative;
        z-index: 5000;
        width: 95%;
    }

    .s1{
        display: none;
    }

    .s1-responsive{
        display: flex;
    }

    .s2{
        display: none;
    }

    .s2-responsive{
        display: flex;
    }

    .s3{
        display: none;
    }

    .s3-responsive{
        display: flex;
    }

    .s4{
        display: none;
    }

    .s4-responsive{
        display: flex;
    }

    .s0{
        display: none;
    }

    .s0-responsive{
        display: flex;
    }

    .box-card{
        width: 95%;
    }

    .green-bg-title{
        color: white;
        font-size: 7vw;
        text-align: center;
    }
}


@media (min-width: 709px){

    .jumbotron {
        height: 600px;
    }

    .title-slogan{
        font-size: 4vw;
        margin-left: 0px;
        width: 100%;
        margin-top: 50px;
        position: relative;
    }

    .logo-one{
        position: relative;
        margin-left: 0px;
        margin-top: 3%;
    }

    .img-cont{
        width: auto;
    }

    .form-contact{
        width: 95%;
    }

    .form-contact h1{
        font-size: 3.5vw;
    }

    .card-contacto{
        width: 95%;
        border: none;
    }

    .title-tam{
        font-size: 5vw;
        margin-top: 70px;
        margin-left: -80px;
        position: relative;
        z-index: 700000;
    }

    .title-dis{
        font-size: 5vw;
        margin-top: -20px;
        margin-left: 50px;
        position: relative;
        z-index: 700000;
    }

    .card-tam-dis{
        margin-top: 10px;
        margin-left: -10px;
        position: relative;
        z-index: 5000;
        width: 95%;
    }

    .s1{
        display: flex;
    }

    .s1-responsive{
        display: none;
    }

    .s2{
        display: inline;
    }

    .s2-responsive{
        display: none;
    }

    .s3{
        display: flex;
    }

    .s3-responsive{
        display: none;
    }

    .s4{
        display: flex;
    }

    .s4-responsive{
        display: none;
    }

    .s0{
        display: flex;
    }

    .s0-responsive{
        display: none;
    }

    .box-card{
        width: 95%;
    }

    .green-bg-title{
        color: white;
        font-size: 5vw;
        text-align: center;
    }

}


@media (min-width: 992px){

    .jumbotron {
        height: 700px;
    }

    .title-slogan{
        font-size: 4vw;
        margin-left: 0px;
        width: 100%;
        margin-top: 50px;
        position: relative;
    }

    .logo-one{
        position: relative;
        margin-left: 0px;
        margin-top: 3%;
    }

    .img-cont{
        width: auto;
        margin-left: 20px;
    }

    .form-contact{
        width: 95%;
    }

    .form-contact h1{
        font-size: 3.5vw;
    }

    .card-contacto{
        width: 95%;
        border: none;
    }

    .title-tam{
        font-size: 5vw;
        margin-top: 70px;
        margin-left: -110px;
        position: relative;
        z-index: 700000;
    }

    .title-dis{
        font-size: 5vw;
        margin-top: -20px;
        margin-left: 90px;
        position: relative;
        z-index: 700000;
    }

    .card-tam-dis{
        margin-top: 10px;
        margin-left: -20px;
        position: relative;
        z-index: 5000;
        width: 95%;
    }

    .s1{
        display: flex;
    }

    .s1-responsive{
        display: none;
    }

    .s2{
        display: inline;
    }

    .s2-responsive{
        display: none;
    }

    .s3{
        display: flex;
    }

    .s3-responsive{
        display: none;
    }

    .s4{
        display: flex;
    }

    .s4-responsive{
        display: none;
    }

    .s0{
        display: flex;
    }

    .s0-responsive{
        display: none;
    }

    .box-card{
        width: 95%;
    }

    .green-bg-title{
        color: white;
        font-size: 3.5em;
        text-align: center;
    }

}

@media (min-width: 1204px){

    .jumbotron {
        height: 800px;
    }

    .title-slogan{
        font-size: 3vw;
        margin-left: 0px;
        width: 100%;
        margin-top: 50px;
        position: relative;
    }

    .logo-one{
        position: relative;
        margin-left: 0px;
        margin-top: 3%;
    }

    .form-contact{
        width: 550px;
    }

    .form-contact h1{
        font-size: 2.5em;
    }

    .card-contacto{
        width: 32rem;
        border: none;
    }

    .img-cont{
        width: auto;
        margin-left: 180px;
    }


    .title-tam{
        font-size: 3.8em;
        margin-top: 70px;
        margin-left: -110px;
        position: relative;
        z-index: 700000;
    }

    .title-dis{
        font-size: 3.8em;
        margin-top: -20px;
        margin-left: 90px;
        position: relative;
        z-index: 700000;
    }

    .card-tam-dis{
        margin-top: 10px;
        margin-left: -20px;
        position: relative;
        z-index: 5000;
        width: 27rem;
    }

    .s1{
        display: flex;
    }

    .s1-responsive{
        display: none;
    }

    .s2{
        display: inline;
    }

    .s2-responsive{
        display: none;
    }

    .s3{
        display: flex;
    }

    .s3-responsive{
        display: none;
    }

    .s4{
        display: flex;
    }

    .s4-responsive{
        display: none;
    }

    .s0{
        display: flex;
    }

    .s0-responsive{
        display: none;
    }

    .box-card{
        width: 24rem;
    }

    .green-bg-title{
        color: white;
        font-size: 3.5em;
        text-align: center;
    }

}